<div [formGroup]="form" class="mt4 mX6">
  <div class="mt2 line">
    <inputDate
      formControlName="movimentDateStart"
      [label]="'Data Inicial'"
    ></inputDate>
    <inputDate
      formControlName="movimentDateEnd"
      [label]="'Data Final'"
    ></inputDate>
  </div>

  <div class="mt2">
    <dropdown
      [list]="typeList"
      formControlName="typeRevenueExpence"
      [label]="'Tipo'"
    ></dropdown>
  </div>
  <div class="mt2">
    <dropdown
      [list]="typeList"
      formControlName="typeRevenueExpence"
      [label]="'Origem'"
    ></dropdown>
  </div>

  <div class="mt2">
    <autocomplete
      formControlName="idWallet"
      [service]="serviceWallet"
      [label]="'Carteira'"
    />
  </div>
</div>