:host {
  .divBI {
    width: 50%;
    height: calc(100vh - 200px);
  }

  .divLists {
    width: 30%;
    padding: 0.5rem;
    height: calc(100vh - 200px);

    border: 1px solid rgb(167, 167, 255);
  }

  .divForm {
    width: 70%;
    height: calc(100vh - 200px);
  }
}
