:host {
  .d1 {
    background-color: green;
  }
  .d2 {
    background-color: blue;
  }

  .teste {
    background-color: red;
  }

  .select-prime-impl {
    display: flex;
  }
  .btn {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .clean {
    color: rgb(255, 175, 175);
    &:hover {
      color: red;
    }
  }

  .refresh {
    color: rgb(175, 243, 255);
    &:hover {
      color: blue;
    }
  }
}
