<div *ngIf="loading">
  <div class="pd">
    <div class="line">
      <div class="fullW">
        <input-text
          [ob]="ob"
          [atributo]="'description'"
          [label]="'Descrição'"
          [placeholder]="'Descrição'"
          [isDisabled]="isDisabled"
        />
      </div>
    </div>
    <div class="line mt2">
      <auto-complete
        [ob]="ob"
        [atributo]="'idWallet'"
        [label]="'Carteira'"
        [placeholder]="'Carteira'"
        [service]="walletService"
        [isDisabled]="isDisabled"
      />
      <div class="typeMovementDiv">
        <drop-dow
          [ob]="ob"
          [atributo]="'typeRevenueExpence'"
          [label]="'Receita/Despesa'"
          [placeholder]="'Receita/Despesa'"
          [list]="movimentType"
          [isDisabled]="isDisabled"
        />
      </div>
      <input-date
        [ob]="ob"
        [atributo]="'movementDate'"
        [label]="'Data Movimento'"
        [placeholder]="'Data Movimento'"
        [isDisabled]="isDisabled"
      />
      <input-reais
        [label]="'Valor'"
        [ob]="ob"
        [atributo]="'value'"
        [isDisabled]="isDisabled"
      />
    </div>
  </div>
</div>
{{ ob | json }}
