<div [formGroup]="form" class="mt2 mX4">
  <div class="fullW">
    <inputText
      formControlName="description"
      [label]="'Descrição'"
      [isDisabled]="isDisabled"
    />
  </div>
  <div class="mt2">
    <div class="lineBetween">
      <inputDate
        formControlName="movementDate"
        [label]="'Data'"
        [isDisabled]="isDisabled"
      ></inputDate>
      <autocomplete
        formControlName="wallet"
        [service]="serviceWallet"
        [label]="'Carteira'"
        [isDisabled]="isDisabled"
      />
      <inputReais
        formControlName="value"
        [label]="'Valor'"
        [isDisabled]="isDisabled"
      />
    </div>
  </div>
  <div class="mt2">
    <div class="lineBetween">
      <div class="fullW mr2">
        <dropdown
          [list]="typeList"
          formControlName="typeRevenueExpence"
          [label]="'Tipo'"
          [isDisabled]="isDisabled"
        ></dropdown>
      </div>
      <div class="fullW ml2">
        <dropdown
          [list]="typeList"
          formControlName="origin"
          [label]="'Origem'"
          [isDisabled]="true"
        ></dropdown>
      </div>
    </div>
  </div>
  <div class="mt2"></div>
</div>
<button (click)="show()">show</button>
