<div [formGroup]="form" class="mt4 mX6">
  <div class="mt2 line">
    <inputDate
      formControlName="dueDateStart"
      [label]="'Data Inicial Vencimento'"
    ></inputDate>
    <inputDate
      formControlName="dueDateEnd"
      [label]="'Data Final Vencimento'"
    ></inputDate>
  </div>
  <div class="mt2 line">
    <inputDate
      formControlName="closedDateStart"
      [label]="'Data Inicial Fechamento'"
    ></inputDate>
    <inputDate
      formControlName="closedDateEnd"
      [label]="'Data Final Fechamento'"
    ></inputDate>
  </div>
  <div class="mt2 line width10">
    <autocomplete
      formControlName="card"
      [service]="cardService"
      [label]="'Cartão'"
    />
  </div>
</div>
