:host {
  .p-calendar {
    width: 100%;
  }
  .btn {
    background: none;
    border: none;
    width: 50px;
    height: 45px;
    align-items: center;
    justify-content: center;
  }

  .clean {
    color: rgb(255, 175, 175);
    &:hover {
      color: red;
    }
  }
}
