:host {
  .itemFilter {
    width: 20%;
  }

  .lineExpense {
    padding-top: 1.3rem;
  }

  .lineExpense2 {
    padding-top: 3rem;
  }

  .borderBottom {
    border-bottom: 1px solid rgb(70, 121, 231);
    padding-bottom: 1rem;
  }
}
