<div class="lineLeft">
  <div class="p1 listTree">
    <tree [dataTableObs]="queryOb" (action)="toForm($event)" />
  </div>
  <div class="complete">
    <div [formGroup]="form">
      <div class="fullW p1" *ngIf="!disabled">
        <button
          *ngIf="this.item"
          class="btn btn-primary mb2 mr1"
          (click)="toOb()"
        >
          Save
        </button>

        <button
          *ngIf="this.item"
          class="btn btn-primary mb2 mr1"
          (click)="newChildreen()"
        >
          Novo Sub
        </button>

        <button
          *ngIf="this.item && this.item.main === false"
          class="btn btn-danger mb2 mr1"
          (click)="delete()"
        >
          Delete
        </button>
        <inputText
          formControlName="label"
          [label]="'Nome'"
          [isDisabled]="isDisabled"
        />
      </div>
      <div class="p1">
        <inputArea
          [isDisabled]="isDisabled"
          formControlName="query"
          [label]="'Query'"
          [placeholder]="'select'"
        />
      </div>
    </div>
  </div>
</div>
