:host {
  .listQuery {
    padding-left: 5px;
  }

  .btnIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .divForm {
    width: 70%;
    height: calc(100vh - 200px);
  }

  .listTree {
    min-width: 300px;
  }
}
