<div class="itemQuery lineLeft">
  {{ query?.name }}
  <div class="complete">
    <div class="lineLeft toRight">
      <button
        class="btn btn-primary mr1 btnIcon"
        type="button"
        data-toggle="collapse"
        [attr.data-target]="'#' + query?.id + '-itemQuery'"
        aria-expanded="false"
        aria-controls="collapseExample"
        (click)="cleanView()"
      >
        <span class="material-icons"> arrow_circle_down </span>
      </button>
      <button class="btn btn-primary btnIcon mr1" (click)="setItem()">
        <span class="material-icons"> visibility </span>
      </button>
    </div>
  </div>
</div>
<div class="collapse listQuery" id="{{ query?.id }}-itemQuery">
  <div *ngFor="let item of query?.queriesChildren">
    <biquery-item [query]="item" />
  </div>
</div>
