<modal-impl>
  <expense-payment-view></expense-payment-view>
</modal-impl>

<div class="lineLeft">
  <div class="btnActionsPayment btnActionsPaymentNew">
    <btn-primary
      [isDisabled]="isDisabled"
      [label]="'Novo'"
      (click)="newExpensePayment()"
    ></btn-primary>
  </div>
  <div *ngIf="controller.obSelect" class="btnActionsPayment">
    <btn-primary
      [isDisabled]="isDisabled"
      [label]="'Carregar'"
      (click)="loading()"
    ></btn-primary>
  </div>
</div>
<div class="tablePayments">
  <dataTable
    [data]="listPayments"
    [dataTableObs]="dataTableServicePaymentys"
    [header]="header"
    [atributos]="atributos"
  ></dataTable>
</div>
