<div class="modal" [ngClass]="{ show: showModal }">
  <div class="modal-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-blue">
      <span class="title">{{ title }}</span>
      <div class="complete toRight">
        <ul class="navbar-nav ml-auto ationBtn line">
          <li
            *ngIf="!stateView"
            class="linkBtn nav-item"
            type="button"
            (click)="save()"
          >
            <span class="material-symbols-outlined icon-write"> save </span>
          </li>
          <li
            type="button"
            class="nav-item linkBtn"
            (click)="editData()"
            *ngIf="stateView"
          >
            <span class="material-symbols-outlined icon-write"> edit </span>
          </li>
          <li
            type="button"
            class="nav-item linkBtn"
            (click)="deleteData()"
            *ngIf="stateView"
          >
            <span class="material-symbols-outlined icon-write"> delete </span>
          </li>
          <li class="linkBtn nav-item" type="button" (click)="closeModal()">
            <span class="material-symbols-outlined icon-write"> close </span>
          </li>
        </ul>
      </div>
    </nav>

    <ng-content></ng-content>
  </div>
</div>
