<div class="modal" [ngClass]="{ show: showModal }">
  <div class="modal-content">
    <div class="barActions">
      <div class="lineBetween">
        <div class="title">
          {{ title }}
        </div>
        <div class="actionBtn">
          <btn-icon *ngIf="!stateView" (click)="save()">
            <span class="material-icons"> save </span>
          </btn-icon>
          <!-- <btn-icon><i class="pi pi-spin pi-save"></i></btn-icon> -->
          <btn-icon *ngIf="stateView" (click)="editData()">
            <span class="material-icons"> edit </span>
          </btn-icon>
          <btn-icon *ngIf="stateView" (click)="deleteData()">
            <span class="material-icons"> delete </span>
          </btn-icon>
          <btn-icon (click)="closeModal()">
            <span class="material-icons"> clear </span>
          </btn-icon>
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
