<hr />
<div class="lineLeft">
  <div>
    <table>
      <thead>
        <tr>
          <th class="label">Label</th>
          <th class="label">Valor</th>
          <th class="icon"></th>
          <th class="icon"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.name }}</td>
          <td>{{ item.value }}</td>
          <td>
            <button class="btnClean" (click)="remove(item)">
              <span class="material-symbols-outlined"> delete_sweep </span>
            </button>
          </td>
          <td>
            <button class="btnClean" (click)="toForm(item)">
              <span class="material-icons"> visibility </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ml1" [formGroup]="form">
    <div>
      <button class="btn btn-success">Novo</button>
      <button class="ml1 btn btn-primary">Salvar</button>
    </div>
    <div class="mt2">
      <inputText formControlName="name" [label]="'Nome'" />
    </div>
    <div class="mt2">
      <inputText formControlName="value" [label]="'Valor'" />
    </div>
  </div>
</div>
