<div [formGroup]="form">
  <div class="fullW p1">
    <button class="btn btn-success mb2 mr1" (click)="addNew()">Novo</button>

    <button *ngIf="this.item" class="btn btn-primary mb2 mr1" (click)="save()">
      Save
    </button>
    <button
      *ngIf="this.item"
      class="btn btn-danger mb2"
      (click)="removeParameter()"
    >
      Delete
    </button>
    <div class="lineLeft">
      <div class="mr1">
        <inputText
          formControlName="name"
          [label]="'Nome'"
          [customValidators]="[validateCustom]"
        ></inputText>
      </div>
      <div class="mr1">
        <inputText formControlName="key" [label]="'Key'" />
      </div>
      <div>
        <inputRadio
          [label]="'Primitivo'"
          [id]="'typeInputBasic'"
          [name]="'typeInput'"
          [valueFix]="1"
          formControlName="typeInput"
          (valueChanged)="alterTypeImput($event)"
        />
        <inputRadio
          [label]="'Registros'"
          [id]="'typeInputRegister'"
          [name]="'typeInput'"
          [valueFix]="2"
          formControlName="typeInput"
          (valueChanged)="alterTypeImput($event)"
        />
      </div>
    </div>
    <div class="fullW">
      <div *ngIf="typeInput === 1">
        <hr />
        <div>
          <div class="lineLeft mt2">
            <div class="drop mr1">
              <dropdownstr
                [label]="'Tipo Primitivo'"
                formControlName="typePrimitive"
                [list]="listTypes"
                (valueChanged)="checkDate($event)"
              ></dropdownstr>
            </div>
            <div *ngIf="showTypeDate; else valueDefaut">
              <div class="drop mr1">
                <dropdown
                  [label]="'Tipo Data'"
                  formControlName="subTypeDate"
                  [list]="listTypesOptionDate"
                />
              </div>
            </div>
            <ng-template #valueDefaut>
              <div class="line">
                <div class="drop">
                  <inputText
                    formControlName="valueDefault"
                    [label]="'Valor Padrão'"
                  />
                </div>
                <div class="ml1">
                  <check
                    [label]="'Customizado'"
                    formControlName="customized"
                    (valueChanged)="checkCustom($event)"
                  ></check>
                </div>
              </div>
            </ng-template>
          </div>
          <div *ngIf="showCustomizade">
            <defined-parameter-view [list]="parameters" />
          </div>
        </div>
      </div>
      <div *ngIf="typeInput === 2">
        <div class="drop">
          <dropdownstr
            formControlName="typeClass"
            [list]="listClass"
            [label]="'Class'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
