.botao1 {
	width: 100%; /* Faz o botão ocupar toda a largura da div */
	background-color: #0074d9;
	color: white;
	font-weight: 500;
	border: none;
	padding: 10px;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;
	height: 3rem;
}
