.defaultRegister {
  padding: 4rem 5rem 0 5rem;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lineLeft {
  display: flex;
  flex-direction: row;
}

.lineRight {
  display: flex;
  justify-content: flex-end;
}

.lineBetween {
  display: flex;
  justify-content: space-between;
}

.complete {
  flex-grow: 1;
}

.toRight {
  display: flex;
  justify-content: flex-end;
}
