.mt1 {
	margin-top: 1rem;
}
.mt2 {
	margin-top: 2rem;
}

.mb2 {
	margin-bottom: 2rem;
}
.mt3 {
	margin-top: 3rem;
}

.mt4 {
	margin-top: 4rem;
}

.mt7 {
	margin-top: 7rem;
}

// padding horizontal
.mh1 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.mh2 {
	margin-left: 2rem;
	margin-right: 2rem;
}

.mh3 {
	margin-left: 3rem;
	margin-right: 3rem;
}
