// padding top

.pt1 {
	padding-top: 1rem;
}
.pt2 {
	padding-top: 2rem;
}
.pt3 {
	padding-top: 3rem;
}

.pt4 {
	padding-top: 4rem;
}

.pt7 {
	padding-top: 7rem;
}

// padding horizontal
.ph1 {
	padding: 0 1rem;
}

.ph2 {
	padding: 0 2rem;
}

.ph3 {
	padding: 0 3rem;
}
